<nav>
	<div class="burgermenu" (click)="isActive = !isActive;">
		<div class="burgerbar" [ngClass]="isActive ? 'rotatebar1': ''"></div>
		<div class="burgerbar" [ngClass]="isActive ? 'toggle': ''"></div>
		<div class="burgerbar" [ngClass]="isActive ? 'rotatebar2': ''"></div>
	</div>
	<ul #navitems [ngClass]="isActive ? 'active': ''"  class="nav-items">
		<li *ngFor="let menuItem of menu; let i = index;">
			<a [href]="'#'" (click)="showClicked($event,menuItem.customCat, menuItem.pageId, menuItem.title, menuItem.slug)">
				{{ menuItem.title }}
			</a>
		</li>
	</ul>

</nav>

