@import "./bootstrap4/bootstrap";
@import "./bootstrap4/bootstrap-grid";
@import "./bootstrap4/bootstrap-reboot";

@import "./mixin";

// DEFAULT COLORS
$red: #c4222b;
$bodyBackground: #f4f4f4;
$lightGrey: #ebebeb;
$grey: #d7d7d7;
$light: #ffffff;
$dark: #000000;


@import "./partials/customMaterialsTheme";
@include font-face('HelveticaNeueLTProBoldCon', './fonts/HelveticaNeueLTPro-BdCn');


// Fonts
$headerFont: 'HelveticaNeueLTProBoldCon' sans-serif;

// Custom Styles here --
body {
    background-color: $bodyBackground;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}
header {
    width: 100%;
    background-color: $light;
    
    .logo {
        width: 70%;
        margin: 0 auto;
        
        img {
            width: 60%;
            margin: 0 auto;
            display: block;
        }
    }
    .banner-title {
        background-color:$red;
        color: $light;
        padding: 1em 0;
        text-align: center;
       
        
        h1 {
            font-family: $headerFont;
            text-transform: uppercase;
        }
    }
}
@media screen and (min-width: 760px){
    header {

        .logo {
            width: 20%;
        }
       
    }
}


// FORM STYLES
.preferencesForm {
    text-align: center;
    width: 100%;

    h2 {
        color: $red;
    }
    .formSections {
        padding: 0;
        
        @media screen and (min-width: 780px){
            .checkboxSection {
                display: flex;
                justify-content: space-around;
                width: 90%;
            }
        }
        @media screen and (min-width: 960px) {
            .checkboxSection {
                width: 60%;
                margin: 0 auto;
            }
        }
    }

    .thanksSection {
        background-color:$light;
        padding: .5rem 3rem 2rem;
        font-weight: bold;
    }
}

footer {
    text-align: center;
    padding: 5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

