figure {
    margin: 0;
    border: 1px solid #000;
    position: relative;
}

figcaption {
    background-color: #F73859;
    color: #fff;
    font-size: 1.2em;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

:host {
    padding: 1em;
    display: block;
}

.actions {
    padding: 1em 0;
}

.comments-btn {
    background-color: #404B69;
    color: #DBEDF3;
    padding: 1em;
    border-style: none;
}

.like-btn {
    color: white;
    font-size: 1.2rem;
    background-color: #283149;
    border: none;
    padding: .5em
}

.liked {
    color: #F73859;
}

.comments {
    background-color: #DBEDF3;
    color: black;
    padding: .5em;
}