<app-header (getSlug)=getSlug($event) (getContent)=getContent($event)> </app-header>
<!-- If there is a Featured Image -->
<div class="featuredImg pb-4" *ngIf="featuredImgSet" [style.background-image]="featureImgUrl"></div>
<div class="container mb-5"> 
	
	<!-- Different TEMPLATES FOR THE DIFFERENT PAGE LAYOUTS! -->

	<div *ngFor="let section of content; let i = index;">
	<!-- <div *ngFor="let block of blocks; let i= index;"> -->
		<span [ngSwitch]="slug">
			<!-- =============== -->
			<!-- HOME TEMPLATE -->
			<div class="row" *ngSwitchCase="'home'">
				<div class="col-md-8">
					<h2 class="mb-4 mt-4">{{section.blocks[i].block.written_content.title}}</h2>
					<p>{{section.blocks[i].block.written_content.text_block | stripHTML}}</p>
				</div>
				<!-- <div class="col-md-4" *ngIf="section[i].blocks[i].block.media.image">
					<img class="pt-5 pb-5" src="{{section[i].blocks[i].block.media.image}}" alt="{{section[i].blocks[i].block.media.alt_tag}}">	
				</div> -->
			</div> <!-- end of ROW -->


			<!-- =============== -->
			<!-- ==== About Template ===== -->
			
			<div class="row" *ngSwitchCase="'about'">
				<div class="col-md-10">
					<h2 class="mb-4 mt-4">{{section.blocks[i].block.written_content.title}}</h2>
					<p>{{section.blocks[i].block.written_content.text_block | stripHTML}}</p>
				</div>
				<div class="col-md-2" *ngIf="section.blocks[i].block.media.image">
					<img class="pt-4 pb-4" src="{{section.blocks[i].block.media.image}}" alt="{{section.blocks[i].block.media.alt_tag}}">	
				</div>
			</div> <!-- end of ROW -->

			<!-- ============================ -->
			<!-- ==== Projects Template ===== -->
		
			<div class="row" *ngSwitchCase="'projects'">
				<!-- <div class="col-md-8">
					<h2 class="mb-4 mt-4">{{block.block.written_content.title}}</h2>
					<p>{{block.block.written_content.text_block | stripHTML}}</p>
				</div>
				<div class="col-md-4" *ngIf="block.block.media.image">
					<img class="projectImg mb-4 mt-4" src="{{block.block.media.image}}" alt="{{block.block.media.alt_tag}}">	
				</div> -->
			</div> <!-- end of ROW -->
		

			<!-- =============== -->
			<!-- News Template -->

			<div class="row" *ngSwitchCase="'news'">
<!-- 			
				<div class="col-md-4 mb-4 mt-4">
					<h2>{{block.block.written_content.title}}</h2>
				</div>
				<div class="col-md-8 mb-4 mt-4">
					<p class="pb-5">{{block.block.written_content.text_block | stripHTML}}</p>
					<img src="{{block.block.media.image}}" alt="{{block.block.media.alt_tag}}">
					<button class="mt-4 mb-4 btn btn-primary">Read More ></button>
				</div> -->
			</div> <!-- end of row -->
			

			<!-- =========================== -->
			<!-- ==== Contact Template ===== -->

			<div class="row" *ngSwitchCase="'contact'">
				<!-- If there is a featured Image -->

				<!-- <div class="col-md-8">
					<h2 class="mb-4 mt-4">{{block.block.written_content.title}}</h2>
					<p>{{block.block.written_content.text_block | stripHTML}}</p>
				</div>
				<div class="col-md-4" *ngIf="block.block.media.image">
					<img class="pt-4 pb-4" src="{{block.block.media.image}}" alt="{{block.block.media.alt_tag}}">	
				</div> -->
			</div> <!-- end of ROW -->
		</span>
	<!-- </div> end of for -->
	</div> <!-- end of for -->
	
</div>