/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,700');

html, body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif!important;
	line-height: 1.4;
	background-color: #0F3057!important;
	color: #E7E7DE!important;
}

h1, h2, h3 {
	font-family: 'Oswald', sans-serif!important;
	font-weight: bold!important;
	margin: 0!important;
}

p {
	font-family: 'Roboto', sans-serif!important;
	margin: 0!important;
}

img {
	display: block;
	width: 100%;
}

header {
	background-color: #008891;
	padding: 1em 0;
}

header p {
	font-family: 'Oswald', sans-serif!important;
	font-weight: bold!important;
}

header img {
	width: 200px;
}

.burgermenu {
	width: 55px;
	height: auto;
	padding: 13px 5px 5px;
}
.burgermenu .burgerbar {
	width: 100%;
	height: 5px;
	margin: 10px 0;
	background-color: #F1F4F6;
	transition: opacity .3s ,transform .2s ease-out;
	border-radius: 20px;
}
.burgermenu .burgerbar:first-child {
	margin-top: 0;
}

.toggle {
	opacity: 0;
}

.rotatebar1 {
	transform: translate(0px, 20px) rotate(-140deg);
}

.rotatebar2 {
	transform: translate(0px, -10px) rotate(140deg);
}

@media (min-width: 720px) {
	.burgermenu {
		display: none;
	}
}

nav {
	position: relative;
	background-color: #00587A;
	font-size: 1.5rem;
	padding: 0 .5em;
	text-transform: uppercase;
}
@media (min-width: 720px) {
	nav {
		padding: 1em;
	}
}

.nav-items {
	padding: 0;
	margin: 0 auto;
	width:100%;
	text-align: center;
	transition: height .2s ease-in, opacity .2s ease-in, transform .4s ease-in;
	transform: scale(.1);
	height: 0;
	opacity: 0;
	/* //display: none; */
}

.active {
	/* display: block; */
	height: 200px;
	opacity: 1;
	transform: scale(1);
}

@media (min-width: 720px) {
	.nav-items {
		display: flex;
		justify-content: space-between;
		width: 70%;
		transform: scale(1);
		height: auto;
		opacity: 1;
	}
}
nav .nav-items li {
	font-size: 0.9rem;
	list-style: none;
	transition: all .4s ease-out;
	cursor: pointer;
	display: block;
	width: 100%;
}

nav .nav-items li a { 
	color: #E7E7E7!important;
	transition: all 0.5s ease-out;
	display:block;
	padding: .5em 0;
	border-bottom: 1px aliceblue dashed;
	width:100%;
}

@media (min-width: 720px) {
	nav .nav-items li a { 
		border-bottom: none;
	}
}

nav .nav-items li a:hover {
	color: #008891!important;
}
.featuredImg {
	height: 23vw;
	background-size: 100%;
	background-repeat: no-repeat;
}
@media (min-width: 820px) { 
	.featuredImg {
		height: 19vw;
		background-attachment: fixed;
	}
}
@media (min-width: 1200px) { 
	.featuredImg {
		height: 23vw;
		background-attachment: fixed;
	}
}


@media (min-width: 1200px) {
	.container {
		max-width: 70%!important;
	}
}

.projectImg {
	display: block;
	width: 100%;
	transition: all .5s ease-out;
	box-shadow: inset 0 0 5px 2px #282a2d;
}
.projectImg:hover {
	transform: scale(0.9);
	opacity: .5;
}

.row {
	margin: 0!important;
}

