/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,700');

html, body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif!important;
	line-height: 1.4;
	background-color: #0F3057!important;
	color: #E7E7DE!important;
}

h1, h2, h3 {
	font-family: 'Oswald', sans-serif!important;
	font-weight: bold!important;
	margin: 0!important;
}

p {
	font-family: 'Roboto', sans-serif!important;
	margin: 0!important;
}

img {
	display: block;
	width: 100%;
}

header {
	background-color: #008891;
	padding: 1em 0;
}

header p {
	font-family: 'Oswald', sans-serif!important;
	font-weight: bold!important;
}

header img {
	width: 200px;
}

nav {

	background-color: #00587A;
	font-size: 1.5rem;
	padding: 1em;
	text-transform: uppercase;
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width:100%;
	text-align: center;
}

@media (min-width: 720px) {
	nav ul {
		display: flex;
		justify-content: space-between;
		width: 70%;
	}
}
nav .nav-items li {
	padding: .5em;
	font-size: 0.9rem;
	list-style: none;
	transition: all .4s ease-out;
	cursor: pointer;
	display: block;
	width: 100%;
}

nav .nav-items li a { 
	color: #E7E7E7!important;
	transition: all 0.5s ease-out;
}

nav .nav-items li a:hover {
	color: #008891!important;
}
.featuredImg {
	height: 23vw;
	background-size: 100%;
	background-repeat: no-repeat;
}
@media (min-width: 820px) { 
	.featuredImg {
		height: 19vw;
		background-attachment: fixed;
	}
}
@media (min-width: 1200px) { 
	.featuredImg {
		height: 23vw;
		background-attachment: fixed;
	}
}


@media (min-width: 1200px) {
	.container {
		max-width: 70%!important;
	}
}

.projectImg {
	display: block;
	width: 100%;
	transition: all .5s ease-out;
	box-shadow: inset 0 0 5px 2px #282a2d;
}
.projectImg:hover {
	transform: scale(0.9);
	opacity: .5;
}

.row {
	margin: 0!important;
}

