@import "../../../../node_modules/@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

.m2app-dark {
  $dark-primary: mat-palette($mat-pink, 700, 500, 900);
  $dark-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
  $dark-warn:    mat-palette($mat-deep-orange);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}

.mat-expansion-panel {
    background: $lightGrey;
}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    justify-content: center;
}

.mat-expansion-panel-header {
    padding: 3em!important;
}

.mat-expansion-panel-body {
    padding: 0 24px 3em!important;
}

.mat-checkbox .mat-checkbox-layout {
    width: 30%;
    text-align: left;
    margin: 0 auto;
    display: block;
}

.mat-checkbox, .mat-accent, .mat-checkbox-anim-checked-unchecked {
    color: black;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $red;
}

.mat-raised-button {
        background-color: $red;
        padding: 1rem!important;
        width: 60%;
        display: block;
        font-size: 1.5rem;
        margin: 0 auto;
        text-transform: uppercase;
        transition: transform 3s ease-out, background-color 1s ease-out;
        &:hover {
            background-color: darken($red, 30%);
            transform: scale(1.2);
        }
        .mat-button-wrapper {
            color: $light;
        }
}

.mat-raised-button {
    background-color: $red;
    color: $light;
    padding: 1rem;
    width: 60%;
    display: block;
    font-size: 1.5rem;
    margin: 0 auto;
    text-transform: uppercase;
}